:root {
  --primary-color: #212121;
  --hero-color: #ffffff;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --logo-dak-color: #000000;
  --icons-hover-color: #2196f3;
  --accent-background-color: #188ce8;
  --hero-background-color: #2f303a;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303f;
  --svg-background-color: #f5f4fa;
  --svg-net-color: #afb1b8;
  --image-background-color: rgba(47, 48, 58, 0.8);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --footer-mail-phone-color: rgba(255, 255, 255, 0.6);
  --border-color-portfolio: #eeeeee;
  --border-color-header: #ececec;
  --input-border: rgba(33, 33, 33, 0.2);
  --input-placeholder-footer: rgba(255, 255, 255, 0.6);
  --card-portfolio-gap: 30px;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}

/* обнуляє відступи для h, p ul */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* Робить зображення блоковим елементом, задає максимальну ширину */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--border-color-header);
}

/* Логотип в Хедері */

.header-logo {
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  width: 145px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo--dark {
  color: var(--logo-dak-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo:hover .header-logo--dark {
  color: var(--accent-color);
}
.header-logo:focus .header-logo--dark {
  color: var(--accent-color);
}
/* Навігація в Хедері */

.container--flex {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;

  background-color: var(--primary-background-color);
}

.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover {
  color: var(--accent-color);
}

.header__nav-link:focus {
  color: var(--accent-color);
}

.header__nav-link.current {
  color: var(--accent-color);
  position: relative;
}

/* Нижнє підкреслення у Хедер під посиланням Студія */
.header__nav-link--current {
  position: relative;
}

.header__nav-link--current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  top: 76px;
  left: -2px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Список в Хедері */

.header__list {
  display: flex;
  flex-shrink: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.header__list .header__item:not(:last-child) {
  margin-right: 50px;
}

/* Email в header */
/* 
.header__list--marginauto {
  margin-left: auto;
} */
.header__link {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  fill: var(--secondary-color);
  /* gap: 10px; */
  color: var(--secondary-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;

  /* Робить ховер анімованим*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__link--margin {
  margin-right: 30px;
}

.header__flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Іконки в Хедері */

.header__logo-icon {
  margin-right: 10px;
}

/* Телефон в header */

.header__phone {
  display: flex;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--secondary-color);
  /* gap: 10px; */

  color: var(--secondary-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__phone:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__phone:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Cекція hero */

.section-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-background-color);
}

/* Overlay */
.section-hero--overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero__title {
  margin: 0 auto 30px;
  max-width: 696px;

  color: var(--hero-color);

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка на головній сторінці */

.main-button {
  max-width: 280px;
  margin: 0 auto;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  color: var(--hero-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
  color: var(--hero-color);
  background-color: var(--accent-background-color);
}
.main-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-background-color);

  /* outline: none; */
}

/* Секція:"Наші переваги"  */

/*Приховує текст заголовку */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Оформлення бекграунду*/

.primary-section {
  background-color: var(--hero-color);
}

/* Контейнер для флексів в головній секції Наші переваги*/

.primary-section-container {
  display: flex;
}
.list-primary-section {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-portfolio-gap));
  margin-left: calc(-1 * var(--card-portfolio-gap));

  list-style: none;
}

.flex-description {
  display: flex;
  flex-direction: column;
  width: 270px;

  margin-top: var(--card-portfolio-gap);
  margin-left: var(--card-portfolio-gap);
  flex-basis: calc(100% / 4 - var(--card-portfolio-gap));
}

.icon-description-background {
  height: 120px;
  max-width: 100%;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--svg-background-color);
  border-radius: 4px;
}

.title-description {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 14px;
}

.description-benefits {
  color: var(--secondary-color);

  line-height: calc(24 / 14);
}

/* Флекси + серія фотографій з секції: "Чим ми займаємось" на головній сторінці*/

.main-section {
  background-color: var(--hero-color);
  padding-top: 0;
}
.main-title {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
}
.main-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 30px;
    flex-basis: calc((100%-60px) / 3); */

  margin-top: calc(-1 * var(--card-portfolio-gap));
  margin-left: calc(-1 * var(--card-portfolio-gap));
}
.flex-list {
  display: flex;

  /* gap: 30px;
    flex-basis: calc((100%-60px) / 3); */
  margin-top: var(--card-portfolio-gap);
  margin-left: var(--card-portfolio-gap);
  flex-basis: calc(100% / 3 - var(--card-portfolio-gap));

  position: relative;
}
/* Позиціонування тексту відносно зображення в секції Чим ми займаємось
 */

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  /* z-index: 1; */

  color: var(--hero-color);
  background-color: var(--image-background-color);

  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Секція з фотографіями нашої команди */

.secondary-title {
  margin: 0 auto 50px;
  text-align: center;

  font-size: 36px;
  line-height: calc(42 / 36);
}

.secondary-section {
  background-color: var(--secondary-background-color);
}

/* Флекси для секції з фотографіями команди */

.secondary-list-container {
  display: flex;

  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-portfolio-gap));
  margin-left: calc(-1 * var(--card-portfolio-gap));
}

.item-secondary-flex {
  display: flex;
  flex-direction: column;

  max-width: 270px;

  margin-top: var(--card-portfolio-gap);
  margin-left: var(--card-portfolio-gap);
  flex-basis: calc(100% / 4 - var(--card-portfolio-gap));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: var(--primary-background-color);
}

/* Основне оформлення секції з фотографіями команди secondary section*/
.team-box-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.discription-command {
  color: var(--secondary-color);

  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 16px;
}

/* /* Сторінка Портфоліо */

/* Стилізація кнопок і карток*/
*/

/* Кнопки */
.hero-portfolio-title {
  font-size: 16px;
}

.main-section-portfolio {
  background-color: var(--primary-background-color);

  text-decoration: none;
}

/* Відступи від кнопок до карток */

.secondary-buttons {
  margin-bottom: 50px;
}
/* Основне оформлення кнопок  на сторінці Портфоліо*/

.secondary-buttons {
  display: flex;
  justify-content: center;
}

.item-secondary-button:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  text-align: center;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  color: var(--primary-color);
  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.secondary-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);

  outline: none;
}

/* Картки */

/*  Флекси для оформлення карток на сторінці Портфоліо */

.list-prtfolio-flex {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-portfolio-gap));
  margin-left: calc(-1 * var(--card-portfolio-gap));
}

.item-prtfolio-flex {
  margin-top: var(--card-portfolio-gap);
  margin-left: var(--card-portfolio-gap);
  flex-basis: calc(100% / 3 - var(--card-portfolio-gap));
}

.title-item-card {
  margin-bottom: 4px;

  color: var(--primary-color);

  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  text-decoration: none;
}

.item-prtfolio-flexpart {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color-portfolio);
  border-bottom: 1px solid var(--border-color-portfolio);
  border-left: 1px solid var(--border-color-portfolio);
}

.project-description {
  color: var(--secondary-color);

  font-size: 16px;
  line-height: calc(30 / 16);
  text-decoration: none;
}

.link-decoration-portfolio {
  position: relative;
  display: block;
  width: 370px;
  text-decoration: none;
  margin-bottom: 0;
}

.link-decoration-portfolio:hover,
.link-decoration-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-decoration-portfolio:hover .overlay-text-decoration,
.link-decoration-portfolio:focus .overlay-text-decoration {
  transform: translateY(0%);
}

/* Абсолютне позиціонрування оверлею з текстом на картках на сторінці Портфоліо*/

.thumb-card {
  position: relative;
  overflow: hidden;
}
.overlay-text-decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  color: var(--hero-color);
  background-color: var(--accent-color);
  display: flex;
  padding: 63px 24px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  transform: translateY(100%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .thumb-card:hover .overlay-text-decoration {
  transform: translateY(0%);
} */

/* Секція Постійні клієнти */

.text-clients {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.link-logo-clients {
  display: block;
  fill: #afb1b8;
  height: 92px;
  width: 170px;
  padding: 16px 32px;

  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo-clients:hover,
.link-logo-clients:focus {
  fill: var(--icons-hover-color);
  border-color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-footer-nav {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.flex-footer-adress {
  max-width: 231px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-light {
  color: var(--hero-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover .logo-light {
  color: var(--accent-color);
}

.footer-adress {
  margin-bottom: 9px;
}

.footer-adress-link {
  display: block;

  color: var(--hero-color);

  line-height: calc(24 / 14);
  font-style: normal;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover {
  color: var(--accent-color);
}

.footer-adress-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  margin-bottom: 9px;
}

.footer-contacts-nomargin {
  margin-bottom: 0px;
}

.footer-link {
  display: block;

  color: var(--footer-mail-phone-color);

  line-height: calc(24 / 14);
  font-style: normal;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  color: var(--accent-color);
}

.footer-link:focus {
  color: var(--accent-color);
}

.net-flex {
  display: flex;
  width: 206px;
  height: 44px;
  align-items: center;

  justify-content: space-between;
  text-transform: uppercase;
}
.clients-flex {
  display: flex;
  justify-content: space-between;
}
.link-net {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg-net-color);
  align-items: center;

  justify-content: center;

  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-net:hover,
.link-net:focus {
  background-color: var(--accent-color);
  color: var(--hero-color);
  fill: currentColor;
}

.link-net-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
}

.icon-footer {
  fill: #ffffff;
}

.net-flex-footer {
  display: flex;
  flex-direction: column;
  width: 206px;
  height: 80px;
  align-items: flex-start;
  margin-right: 93px;
}

.footer-nav {
  display: flex;
}

.net-text {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;

  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-color);
}

.main-flex-footer {
  display: flex;
  align-items: baseline;
}

/* Модальне вікно на головній сторінці. Кнопка :"Засмовити послугу" */

/* Затемнення бекдропу(фону під модалкою при відкритті вікна) */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--modal-background-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  /* На елемент більше не діють ніякі події, що дозволяє при hidden клацати по кнопках і бекдроп з модалкою не заважають, більше не перекривають можливість працювати із сторінкою, хоча і візуально не видно було щоб заважало, але кнопки не натискались. */
}
.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-background-color);
}
/* Кнопка закриття модального вікна */
.button-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  fill: #000000;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  outline: none;
}
.button-close-modal:hover {
  fill: var(--icons-hover-color);
}
.button-close-modal:focus {
  fill: var(--accent-color);
}

/*Оформлення модального вікна. Заповнення інпутами */

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.contact-form {
  width: 100%;
}

.form-control {
  position: relative;
}
.form-input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 14px 15px 14px 42px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
}
.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .form-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;
  /* Щоб іконка змінювала колір при наведенні саме на неї, щоб можна було натиснути на неї і змінився колір, а не тільки при наведенні на весь інпут */
}
.form-label {
  display: block;
  margin-bottom: 4px;
  text-align: start;

  color: var(--secondary-color);

  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-field {
  margin-bottom: 10px;
}
.form-field-textarea {
  margin-bottom: 20px;
}

.form-textarea {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
  height: 120px;
  resize: none;
}
.form-textarea::placeholder {
  position: relative;
  display: block;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  z-index: 3;
}

.form-textarea:focus {
  border-color: var(--accent-color);
}

/* Checkbox */
.form-field-checkbox {
  margin-bottom: 30px;
  position: relative;
}

.checkbox-input {
  display: block;
  appearance: none;
  text-align: center;
}

.checkbox-label {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 33px;

  color: var(--secondary-color);

  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  /* margin-bottom: 30px; */
}
.checkbox-link {
  color: var(--accent-color);
}

.checkbox-label::before {
  display: flex;
  content: '';
  position: absolute;
  top: 4px;
  left: 13px;

  align-items: center;
  width: 16px;
  height: 15px;

  border: 1px solid var(--primary-color);
  border-radius: 2px;
  opacity: 1;
  background-origin: border-box;
}

.form-icon-checkbox {
  display: inline-flex;
  position: absolute;
  top: 4px;
  left: 13px;
  padding: 4px 2px 3px 3px;

  width: 16px;
  height: 15px;

  border: 1px;
  border-color: var(--accent-color);
  background-color: var(--accent-color);

  background-origin: border-box;
  opacity: 0;
}

.checkbox-input:checked + .form-icon-checkbox {
  border: 2px;
  border-color: var(--accent-color);
  background-origin: border-box;
  background-color: #2196f3;
  fill: #188ce8;
  opacity: 1;
}

.checkbox-input:checked ~ .checkbox-label::before {
  opacity: 0;
}

.form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;

  color: var(--hero-color);
  background-color: var(--accent-color);

  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  cursor: pointer;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: var(--accent-background-color);
}

/* Форма в Футері */
.form-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.field-form-footer {
  position: relative;
}

label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.text-form-footer {
  width: 100%;
  color: var(--hero-color);

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.label-form-footer {
  display: block;
}

.form-follow-footer {
  position: relative;
  display: block;
  min-width: 358px;
  min-height: 50px;

  padding-left: 16px;
  color: var(--hero-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
}
.form-follow-footer::placeholder {
  color: var(--input-placeholder-footer);
}
.button-footer {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translatex(12px);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  max-width: 200px;
  padding: 10px 28px;
  border-radius: 4px;
  border: 0px;
  color: var(--hero-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.button-footer:hover,
.button-footer:focus {
  color: var(--hero-color);
  background-color: var(--accent-background-color);
}

.button-footer-icon {
  display: block;
  margin-left: 10px;
  fill: var(--hero-color);
  width: 24px;
  height: 24px;
}
